/* BODY SECTION OF THE PAGE  */
body {
    font-family: Abel;
    margin: 0;
    padding: 0;
    background-color: rgba(44, 59, 79, 0.915);
    overflow: scroll;
    color: #fff
}

img {
    max-width: 100%;
}

/* THE HEADER OF THE PAGE STYLING  */
header {
    background-color: #232738;
    color: #e2dddf;
    padding: 20px;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif
}

/* NAVIGATION LINKS STYLING */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li:not(:last-child) {
    margin-right: 25px;
}

nav ul li a {
    color: #3a83c3;
    font-weight: bold;
    text-decoration: none;
}

ul {
    list-style-type: none;

}

/* NAVIGATION LINKS  */
.link {
    text-align: left;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.link:hover {
    color: #32e6cb
}

/* HEADER MY PERSONAL PORTFOLIO STYLING */

h1 {
    font-size: 70px;
    text-align: left;
    border-radius: 5px;
}

/* ABOUT ME SECTION */
.about {
    margin: 15px;
    padding: 5px;

}

h2 {
    font-size: 45px;
    text-align: center;
}

/* PARAGRAPH ELEMENTS STYLING */
p {
    padding: 45px;
    background-color: #2b145c;
    border-radius: 55px;
    font-size: 25px;
    text-align: center;
}

.description {
    font-size: 25px;
    text-align: center;

}

/* MAIN STYLING */
main {
    text-align: center;
    padding: 55px;
}

/* PLACEHOLDER IMAGE */
.profile-pic {
    width: 500px;
    height: 650px;
    color: #9590b5;
    padding: 10px;
}
.profile-pic:hover {
    filter: brightness(150%);
}

/*  SITE IMAGE */
.site {
    width: 400px;
    height: 650px;
    padding: 10px;
    color: antiquewhite
}

.site:hover {
    color: #32e6cb;
    filter: brightness(150%);
}

/* FRIST PROJECT */
.work-item {
    font-family: 'Abel';
    font-size: medium;
    color: rgb(206, 206, 225);
}

/* lINK TO HORISEON SITE */
.btn {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    align-content: center;
    color: aliceblue;
}

.btn:hover {
    color: #e6cb32
}

/* RESUME SECTION  */
.resume {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 470px;
    height: 750px;
    padding: 10px;
    color: antiquewhite;
}

.resume:hover {
    color: #32e6cb;
    filter: brightness(150%);
}

/* CONTACT SECTION  */
.contact {
    color: white;
    font-size: 15px;
    text-align:center;
    align-items: center;
}

#contact-title {
    font-size: 30px;
    text-align: center;
}
#contact-info {
    display: flex;
}

#contact-info-container {
  display: flex;
  justify-content: center;
}

/* MEDIA SECTION FOR SMALLER SCREENS */
@media(max-width:768px) {
    p {
        padding: 10px;
        background: none;
    }
/* HEADER STYLING  */
    header h1 {
        font-size: 45px;
        text-align: center;
    }

    header nav ul {
        justify-content: center;

    }

    header nav ul li .link {
        font-size: 20px !important;

    }

    main {
        padding: 10px;
    }

    #intro,
    #work #resume #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}